<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    {Application.get_env(:live_debugger, :live_debugger_tags)}

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title default="DeliveryMap" suffix=" · Phoenix Framework">
      {assigns[:page_title]}
    </.live_title>
    <LiveReact.Reload.vite_assets assets={["/js/app.js", "/css/app.css"]}>
      <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
      <script type="module" phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
      </script>
    </LiveReact.Reload.vite_assets>
  </head>
  <body class="bg-white">
    {@inner_content}
    <script>
      window.GOOGLE_MAPS_API_KEY = "<%= Application.get_env(:delivery_map, :google_maps_js_api_key) %>";
    </script>
  </body>
</html>
